# Files
*.csv
*.txt
*.pkl
*.pickle
*.log

# Editors
.idea/
.tags*
*.iml
*.iws
*.sublime-project
*.sublime-workspace
*.sw?
*~
.vscode
Session.vim
.ropeproject/

# Distribution / packaging
.Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
eggs/
.eggs/
.mypy_cache/
dist/
build/

# Testing
.coverage
.cache
coverage.xml
.coverage.*
*.cover
junit_results.xml
coverage/
.pytest_cache/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MAC OS
.DS_Store
